/* This is the new left-hand menu navigation with subsections
*  Create one sub section per section 
*  Don't forget to add the script to each file!
	font-size: 90%;
*/

#sub_about {
  	display: none;
  	}
#sub_about li:last-child {
	border-bottom: none;
}
#sub_newsarea {
 	display: none;
  	}
#sub_newsarea li:last-child {
	border-bottom: none;
}
#sub_bett {
  	display: none;
  	}
#sub_bett li:last-child {
	border-bottom: none;
}
#sub_interest {
  	display: none;
  	}
#sub_support {
  	display: none;
  	}
#sub_leadership {
  	display: none;
  	}
#sub_community {
	display: none;
  	}
#sub_contact {
 	display: none;
  	}
#sub_quality {
  	display: none;
  	}
#msub_research {
  	display: none;
  	}
#msub_newsletter {
  	display: none;
  	}
